.carsList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 32px;
  margin: 56px auto 80px;
}

.loadMoreButton {
  display: block;
  width: 156px;
  padding: 12px 0;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid var(--button);
  border-radius: 12px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--main);
}
