.carItem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.carImage {
  width: 335px;
  height: 268px;
  border-radius: 14px;
  object-fit: cover;
}

@media screen and (min-width: 375px) {
  .carItem {
    max-width: 335px;
  }
}

@media screen and (min-width: 1440px) {
  .carItem {
    max-width: 276px;
  }
  .carImage {
    width: 276px;
  }
}

.favoriteButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.favoriteIcon {
  width: 16px;
  height: 16px;
}

.carInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}
.carTitle {
  display: flex;
  color: var(--main);
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
  width: 100%;
  flex-wrap: wrap;
  max-height: 20px;
  overflow: hidden;
}

.carModel {
  color: var(--button);
}
.carDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 230px;
  max-height: 40px;
  overflow: hidden;
  align-items: center;
}

.carDetailsItem {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}

.carDetailsItem:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--gray-light);
  margin-left: 6px;
  vertical-align: middle;
}

.carInfoLink {
  display: block;
  width: 100%;
  border-radius: 12px;
  padding: 12px 0;
  background-color: var(--button);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  text-align: center;
}

.carPrice {
  margin-left: auto;
  line-height: 1.25;
}
